{# empty Twig template #}
<html>
    <head>
        <title>{% block title %}Welcome!{% endblock %}</title>
        
    </head>
    <body>
        {% block informatorio %}<h1>Hola pibe</h1>{% endblock%}
    </body>
</html>
